<% require 'pry' %>

<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactCms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

  </head>

  <body> 
    <% if current_user != nil %>
      <%= content_tag :div,
      id: "user-info",
      user_data: current_user.id.to_json do %>
      <% end %>

    <% else %>

      <%= content_tag :div,
      id: "user-info",
      user_data: 0.to_json do %>
      <% end %>

    <% end %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
